/* Samuel Hill Basic Cascading Style Sheet Framework
https://github.com/hillpa2/SH_BCSSF
https://www.youtube.com/watch?v=ud1JXqGWPvU
*/
* {
margin: 0;
padding: 0;
border: 0;
}
body {
font-family:Georgia, serif;
}
h1 {
font-size:30px;
text-decoration:underline;
}
h2 {
font-size:20px;
text-decoration:underline;
}
h3 {
font-size:10px;
text-decoration:underline;
}

button {
background-color:silver;
color:black;
border-style:solid;
border-width:1px;
border-color:black;
}
button:hover {
background-color:white;
border-style:dashed;
}
button:active {
background-color:yellow;
border-style:dotted;
}
.sbutton {
border-color:yellow;
color:blue;
}
.sbutton:hover {
background-color:grey;
}
.sbutton:active {
background-color:lime;
}

.helv {
font-family:Helvetica;
}
.courier {
font-family:Courier;
}
.curve {
border-radius:8px;
padding-left:8px;
padding-right:8px;
border-style:double;
border-width:3px;
border-color:black;
}
.right {
float:right;
}

.height2 {
height:720px;
}
.height1 {
height:320px;
}
.height05 {
height:100px;
}
.height01 {
height:10px;
}
.width2 {
width:720px;
}
.width1 {
width:320px;
}
.width05 {
width:100px;
}
.width01 {
width:10px;
}

.g-y {
background-color:grey;
color:yellow;
}
.g-b{
background-color:grey;
color:black;
}
.b-y {
background-color:black;
color:yellow;
}
.b-w {
background-color:black;
color:white;
}
.t-b {
background-color:teal;
color:black;
}
.t-w {
background-color:teal;
color:white;
}
.w-b {
background-color:white;
color:black;
}
.ta-y {
background-color:tan;
color:yellow;
}
.ta-b {
background-color:tan;
color:black;
}

.b {
color:black;
}
.w {
color:white;
}
.g {
color:grey;
}
.t {
color:teal;
}
.ta {
color:tan;
}

.FULL10 {
position:relative;
width:100%;
margin-bottom:10px;
}
.FULL05,.FULL1,.FULL2,.FULL3,.FULL4,.FULL5,.FULL6,.FULL7,.FULL8,.FULL9,.FULL10,.left {
float:left;
}
.FULL05 {
width:05%;
}
.FULL1 {
width:10%;
}
.FULL2 {
width:20%;
}
.FULL3 {
width:30%;
}
.FULL4 {
width:40%;
}
.FULL5 {
width:50%;
}
.FULL6 {
width:60%;
}
.FULL7 {
width:70%;
}
.FULL8 {
width:80%;
}
.FULL9 {
width:90%;
}

/*
Copyright 2017 Samuel Hill

Permission is hereby granted, free of charge, to any person obtaining a copy of this software 
and associated documentation files (the "Software"), to deal in the Software without restriction, 
including without limitation the rights to use, copy, modify, merge, publish, distribute, 
sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is 
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included 
in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, 
INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE 
AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, 
DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/