* {
margin: 0;
padding: 0;
border: 0;
}
body {
font-family:Georgia;
}
h1 {
font-size:30px;
text-decoration:underline;
}

button {
background-color:silver;
color:black;
border-style:solid;
border-width:1px;
border-color:black;
}
button:hover {
background-color:white;
border-style:dashed;
}
button:active {
background-color:yellow;
border-style:dotted;
}
.sbutton {
border-color:yellow;
color:blue;
}
.sbutton:hover {
background-color:grey;
}
.sbutton:active {
background-color:orange;
}

.helv {
font-family:Helvetica;
}
.curve {
border-radius:8px;
}
.right {
float:right;
}
.left {
float:left;
}

.height2 {
height:700px;
}
.height1 {
height:350px;
}
.width2 {
width:700px;
}
.width1 {
width:350px;
}

.g-y {
background-color:grey;
color:yellow;
}
.g-b{
background-color:grey;
color:black;
}
.b-y {
background-color:black;
color:yellow;
}
.b-w {
background-color:black;
color:white;
}
.t-b {
background-color:teal;
color:black;
}
.t-w {
background-color:teal;
color:white;
}
.w-b {
background-color:white;
color:black;
}
.ta-y {
background-color:tan;
color:yellow;
}
.ta-b {
background-color:tan;
color:black;
}

.b {
color:black;
}
.w {
color:white;
}
.g {
color:grey;
}
.t {
color:teal;
}
.ta {
color:tan;
}

.FULL10 {
position:relative;
width:100%;
margin-bottom:10px;
}
.FULL1,.FULL2,.FULL3,.FULL4,.FULL5,.FULL6,.FULL7,.FULL8,.FULL9,.FULL10 {
float:left;
}
.FULL1 {
width:10%;
}
.FULL2 {
width:20%;
}
.FULL3 {
width:30%;
}
.FULL4 {
width:40%;
}
.FULL5 {
width:50%;
}
.FULL6 {
width:60%;
}
.FULL7 {
width:70%;
}
.FULL8 {
width:80%;
}
.FULL9 {
width:90%;
}